<h1>Editing <%= @article.title %> </h1>

<form method="POST" action="/articles/<%= @article.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="article_title">Title</label>
  <input type="text" name="article[title]" id="article_title" value="<%= @article.title %>">

  <label for="article_content">Content</label>
  <input type="text" name="article[content]" id="article_content" value="<%= @article.content %>">

  <input type="submit" value="Edit Article">
</form>

