<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create new article</title>
  <body>
  <form method="POST" action="/articles">
   <p>Article title: <input type="text" name="title" ></input> </p>
    <input type="submit" id="Submit"></input>
   </form>
 </body>
</html>