
<form method="POST" action="/articles">
<label for="article_title">Title</label>
  <input type="text" name="title" id="article_name">

  <label for="article_content">Content</label>
  <input type="text" name="content" id="article_content">

  <input type="submit" value="Create an article">

</form>