<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title><%="#{@article.title}"%></title>
  <body>
  <h2><%="#{@article.title}"%></h2>
  <form method="post" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
  </form>
  </body>
 </head>
</html>